<div id="linked-data" class="component">
  <div class="header">
    <h2><%= title %></h2>
  </div>
  <div class="section">
    <ul class="links-list" about="http://www.bbc.co.uk/programmes/b0080x5m">
      <li class="related-link">
        <a href="#" rel="rdfs:seeAlso"> <span about="" property="dc:title">Employee of the Day</span> </a>
      </li>            
    </ul>
  </div>
</div>
